.chatBox {
  display: flex;
  height: 100vh;
}

.Topics {
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #5d75ed;
  color: white;
}

.ChatScreen {
  background-color: #201e3c;
  color: aliceblue;
  width: 80%;
}

.displayLeft {
  display: flex;
  justify-content: left;
}

.displayRight {
  display: flex;
  justify-content: right;
}

.textbubble {
  background: white;
  color: purple;
  border-radius: 10px;
  padding: 2px 10px;
  margin: 9px 9px;
}

.textbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 80%;
  display: flex;
}

.textbartype {
  width: 98%;
  padding: 5px;
}
.textbartypeInput {
  width: 98%;
  border-radius: 10px;
}

.textbarbutton {
  width: 5%;
  padding: 5px;
  cursor: pointer;
  border-radius: 15px;
}

.textbarbutton:hover {
  background-color: white;
  color: black;
}
